<div class="row">
  <div class="col-md-6 col-sm-6">
    <form #f="ngForm"  ngNativeValidate (ngSubmit)="actualizarPerfil(f)" method="post">
      <div class="form-group">
        <label class="col-md-3 control-label" for="inputDefault">Nombre</label>
        <div class="col-md-6">
          <input required [(ngModel)]="usuario.nombre" name="nombre" id="nombre" type="text" class="form-control"  />
        </div>
      </div>
      <div class="form-group" >
        <label class="col-md-3 control-label" for="inputDefault">Email</label>
        <div class="col-md-6">
          <input required [disabled]="usuario.google"[(ngModel)]="usuario.email" name="email" id="email" type="email" class="form-control"  />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="inputDefault">Foto Perfil</label>
        <div class="col-md-6">
          <input type="file" (change)="seleccionImagen($event.target.files[0])" class="form-control" id="inputDefault" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
        <button type="submit" class="form-control btn btn-primary" value="Actualizar">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="form-group">  
      <div class="col-md-6">
        <img
            *ngIf="!imagenTemp"
            [src]="usuario.img | imagen"
            class="rounded img-responsive"
            [alt]="usuario.nombre"
          />

          <img
          [src]="imagenTemp"
          class="rounded img-responsive"
          [alt]="usuario.nombre"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <button type="submit" (click)="cambiarImagen()" [disabled]="!imagenSubir" class="form-control btn btn-primary" value="Actualizar Foto">Actualizar Foto</button>
      </div>
    </div>
  </div>
</div>

<pre>{{usuario |json}}</pre>
