<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Temas</h4>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><a #link1 (click)="cambiarColor('theme', link1)" data-theme="theme" class="selector default-theme">1 normal</a></li>
                        <li><a #link2 (click)="cambiarColor('theme-green', link2)" data-theme="theme-green" class="selector green-theme">2 verde</a></li>
                        <li><a #link3 (click)="cambiarColor('theme-red', link3)" data-theme="theme-red" class="selector red-theme">3 rojo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>